.container {
	padding: 100px 0;
}

.charactersList {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;

}



.btn {
	border: none;
	padding: 0;

	background: none;

	& svg {
		cursor: pointer;
		width: 30px;
		height: 30px;
		fill: var(--light);
		transition: all .3s ease-in-out;

		&.active,
		&:hover {
			transform: scale(1.1);
			fill: tomato;
		}
	}
}

.item {
	display: flex;
	flex-direction: column;
	gap: 15px;
	border: 1px solid var(--body-color);
	padding: 10px;
	box-shadow: 2px 2px 2px 10px rgba(#ffffff, .1);




	& img {
		transition: all .3s ease-in-out;

		&:hover {
			opacity: .8;
		}
	}
}

.btnWrapper {
	display: flex;
	align-items: center;
	gap: 20px;
}