.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;

}

.input {
	border: none;
	padding: 12px 20px;
	padding-right: 28px;
	background-color: var(--light);
	border-radius: 7px;
	box-shadow: inset 2px 2px 8px rgba(55, 94, 148, 0.3), inset -3px -2px 5px rgba(255, 255, 255, 0.8);
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	outline: none;
	font-weight: 600;
	color: var(--dark);
	font-size: 18px;

	&:focus {
		outline: 3px solid var(--active);
	}

	&::placeholder {
		font-weight: 400;
		font-size: 16px;

		@media (max-width: 710px) {
			font-size: 12px;
		}

	}

	&.error {
		border: 1px solid tomato;
		box-shadow: inset 2px 2px 8px rgba(tomato, 0.3), inset -3px -2px 5px rgba(255, 255, 255, 0.8);

		&:focus {
			outline: 3px solid tomato;
		}
	}
}

.label {
	font-weight: 600;
}