.subMenu {
	position: absolute;
	top: 27px;
	left: 0;
	background-color: var(--light);
	border: 1px solid var(--active);
	padding: 20px;
	text-align: center;
	font-size: 20px;
	width: 130px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	font-family: var(--comicNeue);

	& a {
		transition: all .3s ease-in-out;

		&:hover {
			color: var(--active);
			text-decoration: underline;
		}
	}
}