.storyline {
	padding: 80px 0;
}

.container {
	display: flex;
	flex-direction: column;

}

.title {
	display: flex;
	align-items: center;
	gap: 20px;
	padding-bottom: 40px;
	width: 100%;

}



.descrBox {
	display: flex;
	gap: 32px;

	& img {
		transform: translateY(-100px);
		height: 350px;
	}
}

.descr {
	font-size: 20px;
	max-width: 600px;
}

.img {
	width: 40px;
	height: 50px;
}

.left {
	display: block;
	text-align: right;
}